streamlit>=1.30.0
pandas
numpy
plotly
requests
beautifulsoup4
finance-datareader
scikit-learn
joblib
# 아래 버전을 내 컴퓨터의 pip show 결과와 똑같이 적어주세요. (예: 2.15.0)
tensorflow==2.21.0
tensorflow
streamlit-autorefresh
edge-tts
google-genai


# 💡 스트림릿 무료 서버는 메모리가 작아서 가벼운 CPU용 텐서플로우를 설치해야 튕기지 않습니다.
tensorflow-cpu
